
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    /* Encriptador - 1 Desktop */
    position: relative;
    width: 1348px;
    height: 1024px;
    /* Light blue/light-blue-100 */
    background: #F3F5FC;
    margin: 0;
    border: 0;
    font-family: inherit;
}
header{
    margin: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
}
main{
    display: flex;
    margin: 30px 70px;
}

.contenedor-izquierdo{
    width: 70%;
    display: block;
}
.contenedor-izquierdo textarea{
    width: 577px;
height: 48px;
top: 168px;
left: 240px;
gap: 0px;
opacity: 0px;
background-color: #F3F5FC;
border: none;

}
#textoEntrada:focus{
    outline: none;
}


/*----------------------------------------------------------*/











.botones-encriptar{
    width: Fixed (680px)px;
height: Hug (67px)px;
top: 885px;
left: 240px;
opacity: 0px;
margin-top: 500px;

}
.botones-encriptar button{
    padding: 20px 130px;
    border-radius: 18px;
    cursor: pointer;
    margin: 10px;
    font-size: 12pt;

}
#boton-encriptar{
    background-color: rgba(10, 56, 113, 1);
    color: white;
    border: none;
}
#boton-encriptar:hover{
    background-color:rgba(10, 56, 113, 0.886) ;
}

#boton-desencriptar{
    background-color: #F3F5FC;
    border:1px solid rgba(10, 56, 113, 1);
    color: rgba(10, 56, 113, 1);
}
#boton-desencriptar:hover{
    background-color: #dce2f5;

}






.contenedor-derecho{
    width: 30%;
    display: block;
    float: right;
    margin: 20px;
    margin-top: 0px;
    left: 1000px;
    height: 680px;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 7px 8px 20px 0px rgba(0, 0, 0, 0.2);
    width: 400px;

}



#textoSalida{
    border: none;
    outline: none;
    margin: 20px;
}

#Copiar{
    padding: 20px 130px;
    border-radius: 18px;
    cursor: pointer;
    margin: 10px;
    font-size: 12pt;
    background-color: white;
    border:1px solid rgba(10, 56, 113, 1);
    color: rgba(10, 56, 113, 1);
}
#Copiar:hover{
    background-color: #dce2f5;
}



/*---------------------------------------*/

/* Estilos para pantallas pequeñas (teléfonos y tablets) */
@media screen and (max-width: 480px) {
    body {
        width: 100%; /* Ajustar el ancho del cuerpo al 100% del viewport */
        padding: 0; /* Eliminar el relleno del cuerpo */
        margin: 0; /* Eliminar los márgenes del cuerpo */
    }

    main{
        display: flex;
        margin: none;
        display: flex;
        flex-direction: column;
        width: 100%; /* Ajustar el ancho del contenedor principal al 100% del viewport */
        padding-right: 50px; /* Agregar un relleno alrededor del contenedor principal */
    }


    .contenedor-izquierdo {
        width: 100%; /* Permitir que el contenedor izquierdo ocupe todo el ancho */
    }

    .botones-encriptar {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px; /* Ajustar el margen superior */
    }

    #boton-desencriptar {
        margin-top: 10px; /* Separación entre los botones */
    }
    #boton-desencriptar{
        padding: 20px 130px;
    }
    #boton-encriptar{
        padding: 20px 148px;
    }

    .contenedor-derecho {
        width: auto;
        margin-top: 20px;
        height: 200px;
    }

    #mensajeTitulo {
        font-size: 20px;
    }
    #mensajetexto {
        font-size: 50px;
        margin-top: 10px; /* Separación entre el título y el texto */
    }

    #mensajeTitulo,
    #mensajeTexto {
        display: block; /* Mostrar título y texto */
    }

    #Copiar,
    #textoSalida,
    #imagenMensaje {
        display: none; /* Ocultar elementos innecesarios */
    }


    #textoEntrada {
        width: 100%; /* Ajustar el ancho del textarea al 100% del contenedor */
        max-width: 400px; /* Establecer un ancho máximo */
        margin: 0 auto; /* Centrar el textarea */
    }
    #textoSalida{
        height: 100px;
    }
    

}








